<h1>タスク一覧</h1>

<ul>
  <% @task_lists.each do |task_list| %>
    <li><%= link_to task_list.id, task_list %> : <%= task_list.content %></li>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task_list_path %>